@{
    ViewData["Title"] = "Sobre o Bibliotech";
}
<h1>@ViewData["Title"]</h1>

<p>Software desenvolvido por Thiago Reina Gama, estudante do curso de Sistemas de Informação da intistuição FAETERJ campus Paracambi.</p>
